.header{

    background-color:black;
    display: block;
    

}

.header a{
    color: white;
    font-size:25px;
    padding-right: 20px;
    width: 100%;
    
}

.header a:link{
    font-size:25px;
    text-decoration: none;
}

#bem_vindo{
    text-align: center;
}

#p1, #p2{

    text-align: center;
    font-size: 35px;
}

.footer{
    background-color: black;
    text-align: center;
    color: white;
    float: right;
    position: fixed;
    width: 100%;
    bottom : 0;
}

.rede_sociais{
    text-align: center;
}

table, th, td, tr{
    width: 50%;
    font-size: 20px;
    border: groove ;
    border-radius: 10px;
}
